@import 'bootstrap/scss/bootstrap';

body,
html {
    overflow-x: hidden !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none ;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.HomePage1 {
    background: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('../images/HP1.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.font-main-size {
    font-size: 6rem;
}

.HomePage2 {
    background: url('../images/HP2.png') center/cover no-repeat;
    background-color: #678a72;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.HomePage3 {
    background: url('../images/HP3.png') center/cover no-repeat;
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.HomePage4 {
    background: url('../images/HP4.png') center/cover no-repeat;
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.HomePage5 {
    background-color: #1E1F1E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 15px;
    line-height: 1.7;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.ProfilePage {
    background: url('../images/Profile.png') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.Package {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('../images/Booking.jpg') center/cover no-repeat;
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.package-img {
    height: 280px;
    width: 95%;
    object-fit: cover;
}

.learnMore {
    background: url('../images/learnMore.png') center/cover no-repeat;
    background-color: #84AE92;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.Booking {
    background: url('../images/Booking.png') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.addon-group input {
    max-width: 60px;
}

.addon-label {
    width: 110px;
}

.form-booking {
    width: 70%;
    background-color: #fff;
    height: auto;
}

.Payment {
    background: url('../images/payment.png') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.login-card {
    background: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px 10px;
    width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form-container {
    width: 500px;
    margin: 0 auto;
}

.custom-input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #1B4332;
    padding: 10px 15px;
    font-size: 16px;
}

.btn-green {
    background-color: #114A06;
    color: white;
    border: none;
    height: 45px;
}

.imgPg2 {
    border-top-left-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.4));
}

.shadow-box {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #1F2922;
    border-top-left-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    top: -30px;
    left: 90px;
    z-index: 1;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

.carousel-item img {
    height: 80vh;
    width: auto;
    object-fit: cover;
}

.nav-link.active {
    color: #fff !important;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-in-out;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #2f472f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 350;
    margin: auto;
}

.step-active {
    background-color: #2f472f;
    color: #fff;
}

.addon-input {
    width: 80px !important;
    height: 35px !important;
    flex-shrink: 0;
}

.addon-label {
    width: 110px;
    min-height: 45px;
    margin: 0;
}

@media (max-width: 768px) {
    .login-card {
        width: 90%;
    }

    .footer-border {
        border-bottom: 1px solid #fff !important;
        border-right: none !important;
    }

    .package-img {
        height: 200px;
        width: 95%;
    }

    .form-booking {
        width: 90%;
        background-color: #fff;
        height: auto;
    }
    .addon-wrapper {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .addon-input-group {
        width: 100px;
        margin: auto;
    }
    .font-main-size {
        font-size: 5rem;
    }
}

@media (min-width: 769px) {
    .learnMore {
        padding: 20px 10px;
    }

    .facility-icon {
        width: 30px !important;
    }

    .footer-border {
        border-right: 1px solid #fff !important;
        border-bottom: none !important;
    }
}