@import 'bootstrap/scss/bootstrap';

body,
html {
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.HomePage1 {
    background: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('../images/HP1.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.HomePage2 {
    background: url('../images/HP2.png') center/cover no-repeat;
    background-color: #678a72;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.HomePage3 {
    background: url('../images/HP3.png') center/cover no-repeat;
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.FindOut {
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.FindOut-img {
    width: 30rem;
    height: 20rem;
}

.HomePage4 {
    background: url('../images/HP4.png') center/cover no-repeat;
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.review-card {
    width: 350px; 
    min-height: auto;
    background: rgba(8, 6, 6, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.modal-card {
    background: rgba(8, 6, 6, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.custom-control {
    width: 40px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}



.HomePage5 {
    background-color: #1E1F1E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 15px;
    line-height: 1.7;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.ProfilePage {
    background: url('../images/Profile.png') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.Package {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('../images/Booking.jpg') center/cover no-repeat;
    background-color: #344539;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.package-img {
    height: 280px;
    width: 95%;
    object-fit: cover;
}

.LearnMore {
    background: url('../images/LearnMore.jpeg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: auto;
}

.img1-package {
    width: 525px;
    height: 364px;
}

.img2-package {
    width: 320px;
    height: 180px;
}

.Booking {
    background: url('../images/Booking.png') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
}

.star {
    transition: 0.2s;
    stroke: #03AC0E;
    stroke-width: 1.2;
}

.star.filled {
    fill: #03AC0E;
}

.star:hover {
    transform: scale(1.1);
}

.addon-group input {
    max-width: 100px;
}

.addon-label {
    width: 110px;
}

.form-booking {
    width: 70%;
    background-color: #fff;
    height: auto;
}

.Payment {
    background: url('../images/payment.png') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.login-card {
    background: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px 10px;
    width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form-container {
    width: 500px;
    margin: 0 auto;
}

.custom-input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #1B4332;
    padding: 10px 15px;
    font-size: 16px;
}

.btn-green {
    background-color: #114A06;
    color: white;
    border: none;
    height: 45px;
}

.imgPg2 {
    border-top-left-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.4));
}

.shadow-box {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #1F2922;
    border-top-left-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    top: -30px;
    left: 90px;
    z-index: 1;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

.carousel-item img {
    height: 80vh;
    width: auto;
    object-fit: cover;
}

.nav-link.active {
    color: #fff !important;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-in-out;
}

.step-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #244C2C;
    color: #244C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
}

.step-circle.active {
    background-color: #244C2C;
    color: white !important;
}

.step-label {
    color: #2b2b2b;
}

.step-label.active-text {
    color: #244C2C !important;
    font-weight: 600;
}

.arrow {
    fill: #1f1f1f;
}

.active-arrow {
    fill: #244C2C !important;
}


.addon-input {
    width: 80px !important;
    height: 35px !important;
    flex-shrink: 0;
}

.addon-label {
    width: 110px;
    min-height: 45px;
    margin: 0;
}

.booking-form {
    background-color: #FFFFFF; 
    width: 60%; 
    height: auto;
}

@media (max-width: 768px) {
    .login-card {
        width: 90%;
    }

    .footer-border {
        border-bottom: 1px solid #fff !important;
        border-right: none !important;
    }

    .package-img {
        height: 200px;
        width: 95%;
    }

    .form-booking {
        width: 90%;
        background-color: #fff;
        height: auto;
    }

    .addon-wrapper {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .addon-input-group {
        width: 100px;
        margin: auto;
    }

    .button-profile {
        width: 50%;
    }

    .img1-package {
        width: 395px;
        height: 364px;
    }

    .img2-package {
        position: center;
        width: 190px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .FindOut-img {
        width: 23rem;
        height: 15rem;
    }

    .booking-form {
        background-color: #FFFFFF; 
        width: 90%; 
        height: auto;
    }
}

@media (min-width: 769px) {
    .learnMore {
        padding: 20px 10px;
    }

    .facility-icon {
        width: 30px !important;
    }

    .footer-border {
        border-right: 1px solid #fff !important;
        border-bottom: none !important;
    }
    .facility {
        width: 95%;
    }
}
